.container{
    width: 100%;
    min-height: calc(100vh - 70px);
    height: auto;
    background-color: var(--foreground);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}