*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --background: #050505;
  --foreground: #202020;
  --main: rgb(177, 0, 0);
  --text: #f7f7f7;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
